@import 'styles/utils.scss';

.home-back {
  background-color: white;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px 5px gray;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;


  .list {
    background: $oc-gray-1;
    height: 570px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: scroll;
  }
  .button {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;

    .create-button, .delete-button {
      float: left;
      background: $oc-gray-1;
      width: 100px;
      text-align: center;
      padding: 5px 0px;
      cursor: pointer;

    }
    .delete-button {
      margin-left: 100px;
    }
  }
  .main-border {
    background: $oc-gray-1;
    width: 1100px;
    height: 650px;
    position: relative;
    float: right;
    top: -615px;
    right: 20px;
  }
}
